In [1]:
# Instalar bibliotecas
!pip install python-bcb
!pip install ipeadatapy
!pip install sidrapy

# Importar bibliotecas
from bcb import sgs
import pandas as pd
import ipeadatapy as ipea
import sidrapy as sidra

Collecting python-bcb
  Downloading python_bcb-0.2.0-py3-none-any.whl (16 kB)
Collecting httpx<0.25.0,>=0.24.0 (from python-bcb)
  Downloading httpx-0.24.1-py3-none-any.whl (75 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 75.4/75.4 kB 2.3 MB/s eta 0:00:00
Requirement already satisfied: lxml<5.0.0,>=4.9.2 in /usr/local/lib/python3.10/dist-packages (from python-bcb) (4.9.3)
Collecting pandas<3.0.0,>=2.0.0 (from python-bcb)
  Downloading pandas-2.1.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.3/12.3 MB 66.7 MB/s eta 0:00:00
Requirement already satisfied: requests<3.0.0,>=2.31.0 in /usr/local/lib/python3.10/dist-packages (from python-bcb) (2.31.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from httpx<0.25.0,>=0.24.0->python-bcb) (2023.11.17)
Collecting httpcore<0.18.0,>=0.15.0 (from httpx<0.25.0,>=0.24.0->python-bcb)
  Downloading httpcore-0.17.3-py3-none-any.whl (74 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 74.5/74.5 kB 10.1 MB/s eta 0:00:00
Requirement already satisfied: idna in /usr/local/lib/python3.10/dist-packages (from httpx<0.25.0,>=0.24.0->python-bcb) (3.6)
Requirement already satisfied: sniffio in /usr/local/lib/python3.10/dist-packages (from httpx<0.25.0,>=0.24.0->python-bcb) (1.3.0)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas<3.0.0,>=2.0.0->python-bcb) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas<3.0.0,>=2.0.0->python-bcb) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas<3.0.0,>=2.0.0->python-bcb) (2023.3.post1)
Collecting tzdata>=2022.1 (from pandas<3.0.0,>=2.0.0->python-bcb)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 341.8/341.8 kB 27.1 MB/s eta 0:00:00
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0,>=2.31.0->python-bcb) (3.3.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0,>=2.31.0->python-bcb) (2.0.7)
Collecting h11<0.15,>=0.13 (from httpcore<0.18.0,>=0.15.0->httpx<0.25.0,>=0.24.0->python-bcb)
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.3/58.3 kB 7.5 MB/s eta 0:00:00
Requirement already satisfied: anyio<5.0,>=3.0 in /usr/local/lib/python3.10/dist-packages (from httpcore<0.18.0,>=0.15.0->httpx<0.25.0,>=0.24.0->python-bcb) (3.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas<3.0.0,>=2.0.0->python-bcb) (1.16.0)
Requirement already satisfied: exceptiongroup in /usr/local/lib/python3.10/dist-packages (from anyio<5.0,>=3.0->httpcore<0.18.0,>=0.15.0->httpx<0.25.0,>=0.24.0->python-bcb) (1.2.0)
Installing collected packages: tzdata, h11, pandas, httpcore, httpx, python-bcb
  Attempting uninstall: pandas
    Found existing installation: pandas 1.5.3
    Uninstalling pandas-1.5.3:
      Successfully uninstalled pandas-1.5.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
lida 0.0.10 requires fastapi, which is not installed.
lida 0.0.10 requires kaleido, which is not installed.
lida 0.0.10 requires python-multipart, which is not installed.
lida 0.0.10 requires uvicorn, which is not installed.
google-colab 1.0.0 requires pandas==1.5.3, but you have pandas 2.1.3 which is incompatible.
Successfully installed h11-0.14.0 httpcore-0.17.3 httpx-0.24.1 pandas-2.1.3 python-bcb-0.2.0 tzdata-2023.3
Collecting ipeadatapy
  Downloading ipeadatapy-0.1.9-py3-none-any.whl (10 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from ipeadatapy) (2.1.3)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from ipeadatapy) (2.31.0)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas->ipeadatapy) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas->ipeadatapy) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->ipeadatapy) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas->ipeadatapy) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->ipeadatapy) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->ipeadatapy) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->ipeadatapy) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->ipeadatapy) (2023.11.17)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas->ipeadatapy) (1.16.0)
Installing collected packages: ipeadatapy
Successfully installed ipeadatapy-0.1.9
Collecting sidrapy
  Downloading sidrapy-0.1.4-py3-none-any.whl (6.9 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from sidrapy) (2.31.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from sidrapy) (2.1.3)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas->sidrapy) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas->sidrapy) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->sidrapy) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas->sidrapy) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->sidrapy) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->sidrapy) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->sidrapy) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->sidrapy) (2023.11.17)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas->sidrapy) (1.16.0)
Installing collected packages: sidrapy
Successfully installed sidrapy-0.1.4

In [2]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.23)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (3.0.1)

In [3]:
# Criar banco de dados SQLite
from sqlalchemy import create_engine, inspect
banco_de_dados = create_engine("sqlite:///dados/boletim")
banco_de_dados

Engine(sqlite:///dados/boletim)

In [4]:
conexao = banco_de_dados.connect()

In [5]:
# Importar tabela 6588 do Sidra/IBGE
dados_cana = sidra.get_table(
    table_code = "6588",
    territorial_level = "3",
    ibge_territorial_code = "27",
    variable = "35",
    period = "all",
    classifications = {"48": "39456"}
    )

In [6]:
# Armazenar dados do exel como uma tabela a ser criada no banco SQL
dados_cana.to_sql(name = "cana", con = conexao, index = False)

207

In [7]:
dados_leite = sidra.get_table(
    table_code = "1086",
    territorial_level = "3",
    ibge_territorial_code = "27",
    variable = "151",
    period = "all",
    classifications = {"12716": "115236"}
    )

In [8]:
dados_leite.to_sql(name = "leite", con = conexao, index = False)

107

In [9]:
dados_8184 = sidra.get_table(
    table_code = "8184",
    territorial_level = "3",
    ibge_territorial_code = "27",
    variable = "11706",
    period = "all",
    classifications = {"11046": "56731"}
    )

In [10]:
dados_8184.to_sql(name = "Pesquisa Mensal de Comércio", con = conexao, index = False)

241

In [11]:
dados_8161 = sidra.get_table(
    table_code = "8161",
    territorial_level = "3",
    ibge_territorial_code = "27",
    variable = "11621",
    period = "all",
    classifications = {"11046": "56725"}
    )

In [12]:
dados_8161.to_sql(name = "Pesquisa Mensal de Serviços", con = conexao, index = False)

145

In [13]:
dados_2296 = sidra.get_table(
    table_code = "2296",
    territorial_level = "3",
    ibge_territorial_code = "27",
    variable = "48",
    period = "all",
    )
dados_2296.to_sql(name = "Custos e Índices da Construção Civil ", con = conexao, index = False)

453

In [14]:
dados_4099 = sidra.get_table(
    table_code = "4099",
    territorial_level = "3",
    ibge_territorial_code = "27",
    variable = "4116",
    period = "all",
    )
dados_4099.to_sql(name = "Taxas de desocupação e de subutilização da força de trabalho", con = conexao, index = False)

48

In [15]:
dados_4092 = sidra.get_table(
    table_code = "4092",
    territorial_level = "3",
    ibge_territorial_code = "27",
    variable = "1641",
    period = "all",
    )
dados_4092.to_sql(name = "Pessoas de 14 anos, em relação à força de trabalho e condição de ocupação", con = conexao, index = False)

48

In [16]:
# Importar 1 série do SGS/BCB
dados_sgs14057 = sgs.get(codes = 14057)
dados_sgs14057.to_sql(name = "saldo das operações de credito", con = conexao, index = False)

237

In [17]:
# Importar 1 série do SGS/BCB
dados_sgs15926 = sgs.get(codes = 15926)
dados_sgs15926.to_sql(name = "inadiplencia", con = conexao, index = False)

237

In [18]:
inspecao = inspect(conexao) # esse código de aula mudou devido a atualização da biblioteca
inspecao.get_table_names()

['Custos e Índices da Construção Civil ',
 'Pesquisa Mensal de Comércio',
 'Pesquisa Mensal de Serviços',
 'Pessoas de 14 anos, em relação à força de trabalho e condição de ocupação',
 'Taxas de desocupação e de subutilização da força de trabalho',
 'cana',
 'inadiplencia',
 'leite',
 'saldo das operações de credito']

In [19]:
# Ver informações das colunas de uma tabela
inspecao.get_columns(table_name = "cana")

[{'name': 'NC',
  'type': TEXT(),
  'nullable': True,
  'default': None,
  'primary_key': 0},
 {'name': 'NN',
  'type': TEXT(),
  'nullable': True,
  'default': None,
  'primary_key': 0},
 {'name': 'MC',
  'type': TEXT(),
  'nullable': True,
  'default': None,
  'primary_key': 0},
 {'name': 'MN',
  'type': TEXT(),
  'nullable': True,
  'default': None,
  'primary_key': 0},
 {'name': 'V',
  'type': TEXT(),
  'nullable': True,
  'default': None,
  'primary_key': 0},
 {'name': 'D1C',
  'type': TEXT(),
  'nullable': True,
  'default': None,
  'primary_key': 0},
 {'name': 'D1N',
  'type': TEXT(),
  'nullable': True,
  'default': None,
  'primary_key': 0},
 {'name': 'D2C',
  'type': TEXT(),
  'nullable': True,
  'default': None,
  'primary_key': 0},
 {'name': 'D2N',
  'type': TEXT(),
  'nullable': True,
  'default': None,
  'primary_key': 0},
 {'name': 'D3C',
  'type': TEXT(),
  'nullable': True,
  'default': None,
  'primary_key': 0},
 {'name': 'D3N',
  'type': TEXT(),
  'nullable': True,
  'default': None,
  'primary_key': 0},
 {'name': 'D4C',
  'type': TEXT(),
  'nullable': True,
  'default': None,
  'primary_key': 0},
 {'name': 'D4N',
  'type': TEXT(),
  'nullable': True,
  'default': None,
  'primary_key': 0}]

In [33]:
# Importar tabela completa do banco SQL
pd.read_sql(sql = "cana", con = conexao).tail()

,NC,NN,MC,MN,V,D1C,D1N,D2C,D2N,D3C,D3N,D4C,D4N
202,3,Unidade da Federação,1017,Toneladas,18747990,27,Alagoas,202306,junho 2023,35,Produção,39456,11 Cana-de-açúcar
203,3,Unidade da Federação,1017,Toneladas,18747990,27,Alagoas,202307,julho 2023,35,Produção,39456,11 Cana-de-açúcar
204,3,Unidade da Federação,1017,Toneladas,18747990,27,Alagoas,202308,agosto 2023,35,Produção,39456,11 Cana-de-açúcar
205,3,Unidade da Federação,1017,Toneladas,18747990,27,Alagoas,202309,setembro 2023,35,Produção,39456,11 Cana-de-açúcar
206,3,Unidade da Federação,1017,Toneladas,18747990,27,Alagoas,202310,outubro 2023,35,Produção,39456,11 Cana-de-açúcar

In [32]:
dados_cana.head(100 )
dados_cana.rename(columns={'V': 'Valor'})

,NC,NN,MC,MN,Valor,D1C,D1N,D2C,D2N,D3C,D3N,D4C,D4N
0,Nível Territorial (Código),Nível Territorial,Unidade de Medida (Código),Unidade de Medida,Valor,Unidade da Federação (Código),Unidade da Federação,Mês (Código),Mês,Variável (Código),Variável,Produto das lavouras (Código),Produto das lavouras
1,3,Unidade da Federação,1017,Toneladas,23991396,27,Alagoas,200609,setembro 2006,35,Produção,39456,11 Cana-de-açúcar
2,3,Unidade da Federação,1017,Toneladas,23991396,27,Alagoas,200610,outubro 2006,35,Produção,39456,11 Cana-de-açúcar
3,3,Unidade da Federação,1017,Toneladas,23991396,27,Alagoas,200611,novembro 2006,35,Produção,39456,11 Cana-de-açúcar
4,3,Unidade da Federação,1017,Toneladas,24720000,27,Alagoas,200612,dezembro 2006,35,Produção,39456,11 Cana-de-açúcar
...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,3,Unidade da Federação,1017,Toneladas,18747990,27,Alagoas,202306,junho 2023,35,Produção,39456,11 Cana-de-açúcar
203,3,Unidade da Federação,1017,Toneladas,18747990,27,Alagoas,202307,julho 2023,35,Produção,39456,11 Cana-de-açúcar
204,3,Unidade da Federação,1017,Toneladas,18747990,27,Alagoas,202308,agosto 2023,35,Produção,39456,11 Cana-de-açúcar
205,3,Unidade da Federação,1017,Toneladas,18747990,27,Alagoas,202309,setembro 2023,35,Produção,39456,11 Cana-de-açúcar
206,3,Unidade da Federação,1017,Toneladas,18747990,27,Alagoas,202310,outubro 2023,35,Produção,39456,11 Cana-de-açúcar

In [31]:
# Fazer consulta SQL
from sqlalchemy import text # esse código de aula mudou devido a atualização da biblioteca
pd.read_sql(
    sql = text("SELECT  D1N, D2N, V FROM cana WHERE D2N == 'junho 2023'"),
    con = conexao
    )

       D1N         D2N         V
0  Alagoas  junho 2023  18747990

In [ ]:
# Encerrar conexão com base SQL
conexao.close()
conexao